<% content_for :title, "Tower Defense | Home" %>
  <!-- Main Page Content and Sidebar -->
  <div class="row">
    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
		<div class="gameWindow">
			<h3 style="text-align: center; position:relative; top:50%;">Tower Defense Game</h3>
		</div>
    </div>
    <!-- End Main Content -->

    <!-- Sidebar -->
    <aside class="large-3 columns">
      <div class="highscore10">
  		<h5 style="text-align:center">Top 10 High Scores</h5>
	      <ul class="side-nav">
	        <li style="text-align:center"><strong>Username: High Score</strong></li>
			<%	@highscore_users.each do |u| %>
		        <li style="width:45%;float:right"><%= u.high_score %></li>
		        <li style="width:45%;text-align:right"><%= u.username %></li>
			<% end %>
	      </ul>
      </div>
 
      <div class="panel">
        <h5>Place Ad Here</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
        <a href="#">CLICK HERE!!! &rarr;</a>
      </div>
    </aside>
    <!-- End Sidebar -->
  </div>
  <!-- End Main Content and Sidebar -->