/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 *= require_tree .
 */

@import "foundation_and_overrides";

body{
	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-image: url("phaserBackground.png");
}

#towerBackground{
	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
	background-image: url("towerBackground.jpg");
}

#phaserBackground{
	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
	background-image: url("phaserBackground.png");
}

#phaserHeader{
	background:#000 url('ps_logo_long.jpg');
	background-repeat:no-repeat;
	height:80px;
	background-size: auto 80px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}


/* For any viewports less than 1100px wide */
@media (max-width: 1100px) {

    body {
        background-size: 1400px; /* Force the image to its minimum width */
    }

}

.Sign_Form{
	text-align: center;
	margin:auto;
	margin-top:10px;	
	width:500px;
	background-color: #888888;
	padding-bottom:20px;
	padding-top:2px;
	border-radius: 18px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);

}

input.Sign_Form_Field{
	width: 95%;
	border-radius: 5px;
	margin: auto;
}

.Signup_Errors{
	list-style-type: none;
	text-align:left;
	margin-left:66px;
	color:red;
}

.Main_Header{
	background:#000 url('td_logo_long.png');
	background-repeat:no-repeat;
	height:80px;
	background-size: auto 80px;
/*	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
*/	box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

.headerLink{
	display: block;
	position: absolute;
	left:55px;
	width: 455px;
	height: 80px;
	border-radius: 18px;
}


/* NAV */
.nav{
	list-style-type: none;
	float: right;
	color:#C4C1BD;

}
.nav li{
	display: inline;
	margin-right:5px;

}
.nav_links{
	color: #C4C1BD;
	text-decoration: none;
} 
  nav ul {
  	float:right; 
  	padding:13px 13px 0 13px;
  }
/*TOWER DEFENSE*/
  nav .button {
  	  margin-bottom: 0;
      border: 0;
      background: black;
      box-shadow: 0;
      font-size: 0.95em;
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
    }
    nav .button:hover {
      color: white;
    }
    nav .button:active {
      background: #e78129;
    }   

/*PHASER STARS*/
  nav .phaserButton{
  	  margin-bottom: 0;
      border: 0;
      background: black;
      box-shadow: 0;
      font-size: 0.95em;
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
    }
    nav .phaserButton:hover {
      color: white;
    }
    nav .phaserButton:active {
      background: #e78129;
    }   


.notice, .valid_notice, .invalid_notice{
	height:35px;
	width: 400px;
	margin:auto;
	margin-top:20px;
}
.notice, .invalid_notice p, .valid_notice p{
	text-align:center;
	margin-top:6px;
}

.notice{
	background-color: transparent;
}

.invalid_notice{
	background-color: #FFCCCC;
	border:1px solid red;
}
.valid_notice{
	background-color: #CCFFCC;
	border:1px solid green;
}

.User_Header{

	background-color: rgba(0, 0, 0, .2);
	border-radius: 18px;
	margin:auto;
	width:220px;
	text-align:center;
}

.highscore10 {
	padding: 10px 15px 0 15px;
	margin-bottom: 20px;
	background: rgba(56, 56, 56, .6);
	border:1px solid black;
}

.scoreboard{
	display: block;
	max-height: 333px;
    overflow-y: scroll;
}

.longScoreboard{
	display: block;
	max-height: 600px;
    overflow-y: scroll;
}


.gameWindow {
	width: 800px;
	height: 600px;
	background: rgba(56, 56, 56, .6);
	border:1px solid black;
	margin: 0 auto;
	margin-bottom: 30px;
}