// Place all the styles related to the phaserstars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.newHighScore{
	display: block;
	display: none;
	width: 800px;
	height: 600px;
	position: relative;
	bottom: 600px;
	background-color: rgba(255,255,255,0.7);
	img {
		position: absolute;
		top: 181.5px;	
		left: 158.5px;
	}
}