<!-- Footer -->
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p style="font-size:12px;">Created by <a href="http://www.about.me/JonKoehmstedt">Jon Koehmstedt</a> &copy; 2014</p>
        </div>
      </div>
    </div>
  </footer>    